/* .Portfolio {
    display: flex;
    flex-direction: column;
    /* overflow: visible; */
    /* align-items: center; */
    /* justify-content: flex-start;
    align-items: center;
    margin-top: 30vh;
    margin-left: 1vh;
    width: 100%;
    height: 100%;
} */

/* .portfolio-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10em; */
    /* width: 80vw; */
    /* height: 4vh; */
/* } */

/* .portfolio-nav a {
    display: block;
    margin: 0 .5em
} */

/* .Portfolio a:not(.Project-actions a):not(.actions a):not(.portfolio-nav a) {
    font-size: 17px;
    display: block;
    text-decoration: none;
    color: #888;
    position: absolute;
}

.Portfolio > div:not(.skills){
    text-align: left;
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
}

.arrow-left {
    z-index: 1000;
    bottom: 2%;
    left: 0%
}

.arrow-right {
    z-index: 1000;
    bottom: 2%;
    right: 10%
}

.About {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: visible
}

.About > img {
    border-radius: 2%;
    margin: 2%;
    margin-left: 0;
    max-width: 300px;
    max-height: 300px
}

.About > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* justify-content: center; */
    /* margin: 2% 10% 0 0;
    width: 50%;
    overflow: visible
} */

/* .About h1 {
    font-size: 20px;
    overflow: visible;
}

.About h1 span {
    display: block;
}

.About p {
    overflow: visible;
    max-width: 80vw;
    margin: 1% 0 5% 0;
}

.actions {
    display: flex;
    justify-content: flex-start;
    background: transparent;
    overflow: visible
}

.actions button {
    border: 0;
    border-radius: 5px;
    background: #111;
    color: #fefefe;
    margin-right: 1em;
    margin-bottom: 2em;
    border: 1px solid transparent;
    padding: 1em 2em;
    overflow: visible
}

button img {
    width: 100%;
    height: 100%
}

span.off {
    color: #777
}

.skills {
    overflow: visible;
    max-width: 80vw;
    margin-bottom: 5em;
}

.skills img {
    overflow: visible;
    margin-right: 1%;
    width: 8%;
    height: 8%;
    filter: grayscale(.3)
}

.Project button {
    padding: 1em 2em;
    border: 1px solid #111;
    border-radius: 5px;
    background: #111;
    color: #fefefe

}

.Project h2, .Project p {
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
}

.Project p {
    margin-bottom: 2em
}

.Project img {
    object-fit: cover;
    width: 800px;
    height: 450px;
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .3); */
    /* opacity: .8; */
/* } */

/* } */
/* .Project-actions a {
    display: inline-block;
    margin-right: 1.5em;
    text-decoration: none;
    color: #888;
    border-radius: 5px;
}

.controls {
    margin-top: 1em;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls button {
    border: 0;
    background: transparent;
    font-size: 1em;
    color: #888
}

.select {
    width: 80%;
    margin-bottom: 1em;
}

.technologies {
    display: flex;
}

.technologies p {
    padding: .5em 1em;
    font-size: .8em;
    margin-right: .5em;
    border-radius: 5px;
    background: #20B2AA;
    color: #fefefe
}

.technologies-title {
    margin: 0;
    margin-top: 2em
}

button.delete-btn {
    background: transparent;
    margin-top: 1em;
    display: block;
    color: #333;
    border: 0;
    padding: 0; */

/* @media (hover: hover) {
    .actions button:hover {
        background: transparent;
        border: 1px solid #555;
        color: #BBB
    }

    div.Project-actions a:hover {
        text-decoration: underline;
        color: #BBB
    }

    .Project button:hover  {
        background-color: transparent;
        color: #111
    }

    .arrow-left:hover, .arrow-right:hover, .controls button:hover {
        text-decoration: underline;
        color: #BBB;
    }

    button.delete-btn:hover {
        text-decoration: underline;
        color: #BBB
    }
} */

/* @media only screen and (max-width: 1300px) and (orientation: landscape) {
    .technologies-title, .technologies {
        display: none;
    }
} */

/* @media only screen and (max-width: 1300px) {
    .Project img {
        object-fit: cover;
        width: 40vh;
        height: 40vh;
    } */
    /* .About {
        flex-direction: column-reverse;
    }

    .About > img {
        width: 100px;
        height: 100px;
    }

    .About > div {
        width: 100%;
    } */
/* } */

/* @media only screen and (max-width: 700px) {
    .Portfolio {
        /* height: 100vh; */
        /* margin: 0
    } */
    /*About*/
    /* .About {
        width: 100vw;
        margin: 0;
        margin-top: 1em;
        min-height: 80vh;
        align-items: center;
    } */

    /* .About div:not(.actions) {
        margin: 0 auto;
        text-align: center;
        width: 90vw
    } */


    /* .About h1 {
        margin-top: 0;
        width: 100%;
    }

    .About h1 span {
        font-size: .8em;
    }

    .portfolio-nav {
        display: none;
    }

    .About > img {
        width: 60vw;
        height: 60vw
    }

    .About p {
        margin: 2.5em auto;
    }

    .actions {
        margin: 0 auto;
    }

    .actions a {
        text-decoration: dashed;
    }

    .actions a button {
        font-size: .7em;
        margin: .2em .2em;
        width: 65px;
        padding: .8em 0;
        border-radius: 1%;
        display: block;
    } */

    /*Projects*/

    /* .Project {
        width: 100vw;
        margin: 0;
        margin-top: 5.5em; */
        /* min-height: 80vh; */
        /* display: flex;
        flex-direction: column;
        align-items: center;
    } */

    /* .Project h2 {
        margin: 0
    }

    .Project p {
        min-height: 80px;
        max-width: 90vw;
        font-size: .9em;
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }

    .Project img {
        border-radius: 0;
        width: 50vh;
        height: 40vh
    } */

    /* .controls {
        margin: 3em auto; */
        /* font-size: .9em; */
        /* width: 100px; */
        /* height: 2em
    } */

    /*Work*/
    /* .Work {
        width: 100vw;
        margin: 0;
        margin-top: 1em;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */

    /* .Work p {
        margin: auto 0;
    }


    .arrow-left {
        left: 10%;
    }

    .arrow-right-about {
        left: auto;
        right: auto;
    }

    .technologies-title, .technologies {
        display: none;
    }
} */

/* @media only screen and (max-width: 400px) { */
    /* .skills {
        display: none;
    } */
/* } */

#About {
    height: 100%;
    position: relative;
    transition-duration: 1s;
    transition-property: opacity, right;
    transition-timing-function: cubic-bezier(.4,0,.49,1);
}

#About h1 {
    font-size: 1.5em;
    margin: .5em 0;
}

#About p {
    width: 369px;
    margin: 2em auto;
    text-align: center;
}

#About h1 span {
    font-size: .6em;
    color: #444
}

.actions button {
    border: 0;
    background: #000;
    opacity: .8;
    color: #FFF;
    padding: 1em 0;
    width: 70px;
    margin: 0 .3em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
    border-radius: 8%;
}

#main-card {
    position: relative;
    width: 400px;
    height: 400px;
    box-sizing: border-box;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
}

#main-card-content {
    bottom: 0;
    width: 100%;
    padding: 1em 0;
    position: absolute;
    background: rgba(255,255,255, .5);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: -10px 2px 20px rgba(0, 0, 0, .2),
    10px 0 20px rgba(0, 0, 0, .1);
    border-right: #FFF;
    border-bottom: #FFF;
    z-index: 1;
}
#main-img {
    border-radius: 2%;
    box-shadow: -10px 2px 20px rgba(0, 0, 0, .2), 
        -10px 2px 20px rgba(0, 0, 0, .1), 
        10px 0 20px rgba(0, 0, 0, .2),
        10px 0 20px rgba(0, 0, 0, .1);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.hidden {
    right: -20%;
    opacity: 0;
}

.visible {
    right: 0;
    opacity: 1
}

@media (hover: hover) {
    .actions button:hover {
        box-shadow: 5px 5px 8px rgba(0, 0, 0, .3);
        color: #EAEAEA;
        opacity: 1;
    }
}

@media only screen and (max-width: 900px) {
    .actions button {
        margin: .2em;
        width: 70px
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    #main-card {
        width: 70vh;
        height: 70vh
    }
}

@media only screen and (max-width: 700px) and (orientation: portrait) {
    #main-card {
        width: 80vw;
        height: 80vw
    }

    #main-card-content {
        max-height: 100%;
        padding-bottom: 1.5em
    }

    #About h1 span {
        display: block;
    }

    #About p {
        width: 80vw;
        font-size: .9em
    }
}

@media only screen and (max-width: 400px) and (orientation: portrait) {
    .actions button {
        margin: .2em;
        padding: .8em 0;
        font-size: .8em;
        width: 60px;
    }
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #main-card-content {
      -webkit-backdrop-filter: blur(5em);
      backdrop-filter: blur(5em);
    }

    @media (hover: hover) {
        #main-card-content:hover {
            -webkit-backdrop-filter: blur(1em);
            backdrop-filter: blur(1em);
          }
    }
  }