@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Nunito:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  background-color: #F9F8FD
}

button {
  cursor: pointer;
  overflow: visible;
  transition: all .2s ease-in-out;
}

.App {
  text-align: center;
  display: flex;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #F9F8FD;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F9F8FD;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0,  .2) inset;
}

.second-form {
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('./images/colors.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  max-width: 900px;
  min-height: 90%;
  max-height: 92%
}

.second-form h4 {
  width: 80%;
  /* margin: 5%; */
  text-align: left
}

.second-form input:not(input[type=submit]):not(input[type=file]), textarea {
  padding: 1%;
  background: transparent;
  border: 1px solid #555;
  border-radius: 5px;
  width: 80%;
  margin-bottom: 1%;
  overflow: scroll;
  min-height: 50px
}

.second-form input[type=file] {
  padding: 1%;
  margin: 2%;
}

.second-form input[type=submit] {
  margin: 1% 0;
  width: fit-content;
  padding: 1.5% 2em;
  align-self: flex-start;
  margin-left: 10%;
  border: 1px solid #111;
  background: #111;
  color: #fefefe
}

.second-form input:not(input[type=file]):focus, select:focus, textarea:focus {
  outline: 1px solid blue;
}

.second-form label {
  width: 80%;
  text-align: left;
  color: #333
}

.second-form button {
  border: 0;
  text-decoration: underline;
  background: transparent;
  text-align: left;
  color: #111;
  margin: 2% 0;
  width: 80%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #111;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #111;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #111;
}

input[type=file]::-webkit-file-upload-button {
  border: 1px solid #111;
  background: #111;
  color: #fefefe;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  padding: 1em;
}

@media (hover: hover) {
  input[type=submit]:hover {
    background: #3094d2;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
  }
  
  .second-form input[type=submit]:hover {
    background: transparent;
    color: #111
  }

  input[type=file]::-webkit-file-upload-button:hover {
    background: transparent;
    color: #111
  }
}

@media only screen and (max-width: 800px) {
  body {
    overflow: visible;
    margin: 0
  }
}

@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column-reverse;
  }
}